---
layout: landing
title: 100+ upcoming vita games
description: Games orderd by genre. Help keep this site uptodate on <a href="https://github.com/mvaneijgen/upcoming-vita-games/blob/gh-pages/_data/games.yml">Github</a>. Website by <a href="http://mvaneijgen.nl/">M van Eijgen</a>
---

<div class="ui vertical segment">
	<div class="ui centered page grid">
		<div class="row">
			<div class="column">
				<h2 id="adventure">Adventure</h2>
				{% include game-cards-tag-adventure.html %}

				<h2 id="action">Action</h2>
				{% include game-cards-tag-action.html %}

				<h2 id="card-game">Card game</h2>
				{% include game-cards-tag-card-game.html %}

				<h2 id="fighting">Fighting</h2>
				{% include game-cards-tag-fighting.html %}

				<h2 id="horror">Horror</h2>
				{% include game-cards-tag-horror.html %}

				<h2 id="racer">Racer</h2>
				{% include game-cards-tag-racer.html %}

				<h2 id="rpg">RPG</h2>
				{% include game-cards-tag-rpg.html %}

				<h2 id="rhythm">Rhythm</h2>
				{% include game-cards-tag-rhythm.html %}

				<h2 id="simulator">Simulator</h2>
				{% include game-cards-tag-simulator.html %}

				<h2 id="sport">Sport</h2>
				{% include game-cards-tag-sport.html %}

				<h2 id="shooter">Shooter</h2>
				{% include game-cards-tag-shooter.html %}

				<h2 id="puzzle">Puzzle</h2>
				{% include game-cards-tag-puzzle.html %}

			</div>
		</div> <!-- /row -->
	</div>
</div>

