<div class="ui three column stackable grid special cards">

{% if include.cards %}
  {% assign count = include.cards %}
{% else %}
  {% assign count = site.recent_items %}
{% endif %}

{% for embed in site.data.embeds %}
  <div class="column">
    <div class="ui fluid card">
      <div class="dimmable image">
        <div class="ui inverted dimmer">
          <div class="content">
            <div class="center">
              <a class="ui primary button" href="{{ embed.gamewebsite }}">Launch website</a>
            </div>
          </div>
        </div>
        <img src="{{ embed.image }}" alt="{{ embed.name }}">
      </div>
      <div class="content">
        <div class="header">{{ embed.name }}</div>
        <div class="meta">
          <div class="group">
            {{ embed.gerne }}

          </div>
          <div class="releasedate">Release date:{{ embed.releasedate }}</div>
        </div>
        <div class="description">
          {{ embed.about }}
        </div>
      </div>
  
      <div class="extra content">
      <div class="dateadd">date add:{{ embed.dateadd }}</div>
          <div class="right floated created">
          <a href="{{ embed.gamewebsite }}"><i class="game icon embed-features" data-content="Game webiste" data-position="top right"></i></a> | 
          <a href="{{ embed.devwebsite }}"><i class="world icon embed-features" data-content="Developer webiste" data-position="top right"></i></a>
        </div>
      </div>
  
  
    </div>
  </div> <!-- .column -->
{% endfor %}
</div>  