<div class="ui inverted footer vertical segment">
  <div class="ui stackable page grid">
    <div class="ten wide column">
      <div class="ui three column stackable grid">
        <div class="column">
          <h5 class="ui inverted header"></h5>
          <div class="ui inverted link list">

          </div>
        </div>
        <div class="column">
          <h5 class="ui inverted header"></h5>
          <div class="ui inverted link list">
          </div>
        </div>
        <div class="column">
          <h5 class="ui inverted header"></h5>
          <div class="ui inverted link list">        
          </div>
        </div>
      </div>
    </div>
    <div class="six wide column">
      <div class="ui two column stackable grid">
        <div class="column">
          <h5 class="ui inverted header">Social</h5>
          <div class="ui inverted link list">
            <a class="item" href="https://twitter.com/{{ site.twitter_username }}"><i class="twitter icon"></i> Twitter</a>
            <a class="item" href="https://github.com/{{ site.github_username }}"><i class="github icon"></i> GitHub</a>
            <a class="item" href="https://dribbble.com/{{ site.github_username }}"><i class="dribbble icon"></i> Dribbble</a>
          </div>
        </div>
        <div class="column">
          <h5 class="ui inverted header">Contact</h5>
          <addr>
            Mitchel van Eijgen <br>
            <a href="mailto:mvaneijgen@gmail.com">mvaneijgen@gmail.com</a> <br>
          </addr>
          <p><a href="callto:+3163832735">+31 6 38 63 27 38</a></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ui center aligned segment copyright">
  <i class="world icon"></i> Copyright &copy; {{ site.time | date: "%Y" }}, {{ site.copyright }}.
</div>
