<div class="ui three column stackable grid special cards">

{% if include.cards %}
  {% assign count = include.cards %}
{% else %}
  {% assign count = site.recent_items %}
{% endif %}

{% for games in site.data.games %}
  <div class="column">
    <div class="ui fluid card">
      <div class="dimmable image">
        <div class="ui inverted dimmer">
          <div class="content">
            <div class="center">
              <a class="ui primary button" href="{{ games.gamewebsite }}">Launch website</a>
            </div>
          </div>
        </div>
        <img src="{{ games.image }}" alt="{{ games.name }}">
      </div>
      <div class="content">
        <div class="header">{{ games.name }}</div>
        <div class="meta">
          <div class="group">
            {{ games.gerne }}

          </div>
          <div class="releasedate">Release date:{{ games.releasedate }}</div>
        </div>
        <div class="description">
          {{ games.about }}
        </div>
      </div>
  
      <div class="extra content">
      <div class="dateadd">date add:{{ games.dateadd }}</div>
          <div class="right floated created">
          <a href="{{ games.gamewebsite }}"><i class="game icon games-features" data-content="Game webiste" data-position="top right"></i></a> | 
          <a href="{{ games.devwebsite }}"><i class="world icon games-features" data-content="Developer webiste" data-position="top right"></i></a>
        </div>
      </div>
  
  
    </div>
  </div> <!-- .column -->
{% endfor %}
</div>  