<div class="ui menu">
  <div class="left menu">
    {% if site.pagebar %}
      <a class="mobile item pagebar" href="#"><i class="icon content"></i></a>      
    {% endif %}
  </div>
  <a class="header item" href="{{ site.baseurl }}/">Upcoming vita games</a>
  <div class="right menu">
    <a class="item menu-details {% if page.title == 'Metrics' %}active{% endif %}" href="https://github.com/mvaneijgen/upcoming-vita-games" data-position="bottom left" data-content="Help, keep this site up to date"><i class="icon announcement"></i>Update this site</a>
  </div>
</div>
