<div class="ui left vertical sidebar menu">
    <div class="item">
      <div class="ui transparent mini icon input">
      By <a href="/">MVANEIJGEN</a>
      </div>
    </div>
    
    <a class="item" href="{{ site.baseurl }}/gerne/">
    <i class="tag icon"></i>
    Filter by gerne
    </a>

    <a class="item" href="{{ site.baseurl }}/western/">
    <i class="euro icon"></i>
    Western only games
    </a>

    <a class="item" href="{{ site.baseurl }}/non-western/">
    <i class="yen icon"></i>
    Non-western games
    </a>

    <a class="item" href="{{ site.baseurl }}/released/">
    <i class="calendar icon"></i>
    Released games
    </a>

    <a class="item" href="https://github.com/mvaneijgen/upcoming-vita-games">
    <i class="download icon"></i>
    Help update this site 
    </a>

    <a class="item" href="/">
    <i class="block layout icon"></i>
    My Portfolio site
    </a>
    <a class="item" href="https://github.com/{{ site.twitter_username }}">
    <i class="block github icon"></i>
    Github
    </a>
    <a class="item" href="https://twitter.com/{{ site.twitter_username }}">
    <i class="block twitter icon"></i>
    Twitter
    </a>
    <a class="item" href="https://dribbble.com/{{ site.twitter_username }}">
    <i class="block dribbble icon"></i>
    Dribbble
    </a>
</div>
