.column .content .header {
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
h1.header-3d {
	display: none;
}

h2.slim-header-light {
	font-size: 20px;
}
.dateadd {
float: left;
font-size: 10px;
}