.column .content .header {
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
h1.header-3d {
	display: none;
}

h2.slim-header-light {
	font-size: 20px;
	line-height: 30px;
}
.dateadd {
float: left;
font-size: 10px;
}

.slim-header-light a {
color: #fff;
font-weight: 700;
}
.slim-header-light a:hover {
  text-decoration: underline;
}

.ui.menu a.item.menu-details.alt {
	background: #f50;
	color: #fff;
	border-radius: 0 2px 2px 0;
}
.ui.menu .header.item, .ui.vertical.menu .header.item {
background: #fff;
}
.ui.primary.button, .ui.primary.buttons .button {
background-color: #06b;
}