/*******************************
       Global Resets
*******************************/
html {
  font-size: 18px;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

.ui.header {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

.ui.fluid.card,
.ui.menu {
border-radius: 2px;
}
.ui.card>.image>img, .ui.cards>.card>.image>img {
border-radius: 2px 2px 0 0;
}
.ui.card, .ui.cards>.card {
box-shadow: 0px 2px 0 0 #d4d4d5,0 0 0 1px #d4d4d5;
}